@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Borel", cursive;
  font-family: "Caveat", cursive;
  font-family: "Mulish", sans-serif;
  font-family: "REM", sans-serif;
  font-family: "Work Sans", sans-serif;
}
